.app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.author {
    font-size: 20px;
}

.message {
    font-size: 20px;
}

input,
textarea {
    background: none;
    color: #424242;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 320px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #424242;
    &:focus {
        outline: none;
    }
    &:focus ~ label,
    &:valid ~ label {
        top: -14px;
        font-size: 12px;
        color: #2196F3;
    }
    &:focus ~ .bar:before {
        width: 320px;
    }
}
button {
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    background: #2196F3;
    color: #bce0fb;
}
button:hover{
    color: white;
    cursor: pointer;
}